/node_modules
/public/hot
/public/storage
/storage/*.key
/public/backups/*.sql
/vendor
/public/app/public/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/app/public/logo/*.jpg
/public/images
