// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.bg-login-image {
  background-position: center;
  background-size: cover;
}

.form-control-plaintext {
    border-bottom: 1px solid #00000040 !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #d1d3e2 !important;
    height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    margin-top: 4px;
    color: #444c;
    line-height: 28px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    margin-top: 4px;
}

.btn-purple {
    color: #fff;
    background-color: #ae27d0;
    border-color: #ae27d0;
}

.btn-purple:hover {
    color: #fff;
}

.btn-info {
    color: white !important;
}

.table td {
    padding: 0.45rem !important;
}

.btn {
    border-radius: 0 !important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(58, 59, 69, 0.2) !important;
}